/*CSS Document for The Rebirth Of Film by Bryce Aufrecht 2022*/
body{
	background-image: url(images/pl.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.pagebox{
	background-image: url(images/darkbg.png);
	width: 70%;
	margin: auto;
	padding: 4px;
}

.banner{
	width: 100%;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333333;
}

li{
	float: left;
	font-family: helvetica, sans-serif;
}

li a{
	display: inline-block;
	color: #ffffff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li.current{
	background-color: #ffe94a;
}

li a:hover{
	background-color: #ffe94a;
	color: #111111;
}

h1 a{
	text-decoration: none;
	color: #ffffff;
	display: inline-block;
	padding: 14px 16px;
}

.link{
	text-align: center;
	background-color: #3626a7;
}

a{
	text-decoration: none;
	color: #80ed99;
}

h1{
	color: #ffffff;
	text-align: center;
	font-family: georgia, sans-serif;
}

h2{
	font-family: georgia, sans-serif;
	color: #ffe94a;
}

p{
	color: #ffffff;
	font-family: georgia, sans-serif;
}

.smallpic{
	width: 33%;
	float: left;
	padding: 5px;
}

hr{
	clear: both;
}

.largepic{
	width: 100%;
}

.fling-minislide{
	width: 50%;
	margin: auto;
	height: 0px;
	overflow: hidden;
	position: relative;
	padding-bottom: 50%;
}

.fling-minislide img{
	position: absolute;
	animation: fling-minislide 20s infinite;
	opacity: 0;
	width: 100%;
	height: auto;
}

@keyframes fling-minislide{25%{opacity:1;}40%{opacity:0;}}

.fling-minislide img:nth-child(4){
	animation-delay: 0s;
}
.fling-minislide img:nth-child(3){
	animation-delay: 5s;
}
.fling-minislide img:nth-child(2){
	animation-delay: 10s;
}
.fling-minislide img:nth-child(1){
	animation-delay: 15s;
}

.video_container{
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

iframe, ._video_container object{
	border: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.mainimage{
	text-align: center;
}

#maingraphic{
	width: 70%;
	height: auto;
	padding-right: 5px;
	padding-bottom:  5px;
	padding-left: 5px;
	
}

#graphic{
	width: 30%;
	height: auto;
	float: left;
	padding-right: 5px;
	padding-bottom:  5px;
	padding-left: 5px;
	
}

footer{
	text-align: center;
}

@media only screen and (max-width: 767px) {
	.pagebox{width: 90%;}
}

@media only screen and (max-width: 550px) {
	.pagebox{width: 98%;}
	nav{
		width: 100%;
		overflow: hidden;
		padding: 0px;
	}
	a{width: 100%;
	display: block;
	text-align: center;
	background-color: #000000;
	border-style: solid;
	border-width: 1px;
	border-color: #323232;
	}
	
	.link{
		width: 100%;
		overflow: hidden;
		padding: 0px;
	}
	
	li{
		width: 100%;
	}
	li a{
		padding-left: 0px;
	}
	.smallpic{
		width: 100%;
		padding: 0px;
	}
	.fling-minislide{display: none;}
}












